img.image-pulse
{
	width:150px;
}

.image-pulse
{
	transition:all ease 1s;

}
.image-pulse:hover
{
	animation:animLogoPulse ease-in-out 0.8s infinite alternate;
}


@keyframes animLogoPulse
{

	0%
	{
		transform:scale(1);
	}
	100%
	{
		transform:scale(1.05);
	}
}
