.search
{

}
.search
.group
{
    margin:1em;
}
/*======================================================*/
.v2
.search-box
{
    display:flex;
}

.v2
.search-input
{
    padding:1em;
    border:none;
    outline:none;
    color:white;
    background-color: #415365;
    transition: box-shadow 0.2s ease;

    font-family:'Segoe UI';
    letter-spacing:0.1em;
}
.v2
.search-input:focus
{
    box-shadow:inset 0px 0px 5px rgba(0,0,0,0.4);
}

.v2
.search-input:focus::placeholder
{
    opacity:0;
}
.v2
.search-input::placeholder
{
    color:rgba(255,255,255, 0.8);
    transition: opacity 0.15s ease;
}
.v2
.search-input:focus+.search-button
{
    
}

.v2
.search-button
{
    outline: none;
    border: none;
    border-radius:0;
    
    background-color: #1189ff;

    /* Initial size of the item. Same as width */
    flex-basis: fit-content;
    /* How the space is distributed among the items when there isn't enough space */
    flex-shrink: 0;
    /* How the remaining space is distributed among the items when there's space to fill */
    flex-grow:0;
}

.v2 .search-button:focus,
.v2 .search-button:hover
{
    box-shadow:inset 0px 0px 5px rgba(0,0,0, 0.3);
}

.v2
.search-button:active
{
    background-color:#3173b3; 
}

.v2
.search-glass
{
    width:1em;
    height:auto;
    
    fill: white;
}