.demo-square
{
	position:relative;
	margin:3em;

	width: 10em;
	height:10em;
	background-color: rgb(200,200,200);
	overflow:hidden;
}
.demo-square::after
{
	position:absolute;
	content:"";

	background-color: black;
	height:4px;
	width:100%;
	top:0;
	left:100%;
}

.demo-square:hover::after
{
	animation:animRunAround 4s linear 1;
}


@keyframes animRunAround
{
	0%
	{
		height:4px;
		width:100%;

		top:0;
		right:0;
		left:100%;
	}
	24%
	{
		height:4px;
		width:100%;

		top:0;
		left:-100%;
	}
	25%
	{
		width:4px;
		height:100%;

		top:-100%;
		left:0;
	}
	50%
	{
		width:4px;
		height:100%;

		top:100%;
		left:0;
	}
}