@charset "utf-8";
/* CSS Document */


@media screen and (max-width:1275px) {
	.nav-item
	{
		font-size:1em;
	}
}


@media screen and (max-width:1200px) {
	#content .event.second
	{
		margin-bottom: 5px;
	}

	.nav-link img
	{
		display:none;
	}
	.nav-link 
	{
		padding:1em;
	}
}


@media screen and (max-width:1075px) {
	.nav-item
	{
		font-size:0.8em;
	}
}


@media screen and (max-width:1024px) {
}

@media screen and (max-width:850px) {
	.nav-item-icon
	{
		display:none;
	}
	.nav-item-label
	{
		width:80%;
	}
}

@media screen and (max-width:768px) {
	header .header-button
	{
		display:block;
	}
	/*
	  Header & Navigation
	   --------------------------
	*/	
	.menubar
	{
		width:100%;
		position: relative;
		text-align:center; 
	}

	.branding, .header-button
	{
		font-size:   2rem;
		line-height: 2rem;
		margin:2rem;
		padding:0;
	    color:white;
	}
	.menu-icon,
	.meta-icon
	{
		position:absolute;	
	}
	.menu-icon
	{
		top:0;
		left:0;
	}
	.meta-icon
	{
		top:0;
		right:0;
	}
	/*
	  
	   --------------------------
	*/	
	.metabar
	{
		width:100%;
	}
	.content
	{
		padding-top:4%;
		width:100%;
	}


	/*
	  Footer
	   --------------------------
	*/
	.footer
	{
		margin-left:0;
		width:100%;
	}
}



@media screen and (max-width:480px) {
	/*
	  Content
	   --------------------------
	*/	
	.event.main,
	.event.second
	{
		width:98%;
		margin-bottom:2%;
	}
	.event.main
	{
		margin-top:2%;
	}
}
