/* ------------------------------------------
   Index:
   Styles of the index page.
------------------------------------------ */
.page-index-layout
{
	max-width: 50rem;
}
.page-index-header
{
	display:flex;
	align-items: center;
	flex-direction: row;
    margin-bottom:1.5rem;
	color:rgb(60,60,60);
}
.page-index-title
{
	font-size:2.8rem;
}
.page-index-pagenbr
{
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s ease-in;
}
.page-index-pagenbr.visible
{
	visibility: visible;
	opacity: 1;
}


.posts
{
	margin-top:   1.5rem;
	margin-bottom:1.5rem;
}



.post-ispreview
.post
{
	padding-bottom:0em;
}


.post-ispreview 
.post-title
{
	font-size:1.2em;
	font-weight:bold;
	color:#2E61A2;
	display:inline-block;
}


.post-ispreview 
.post-date
{
	font-size:0.8em;
}