body {
	font-family:
				'Open Sans', 
				sans-serif;
	display: grid;
	grid-template-columns: 130px auto;
	grid-template-areas: 
		"sidebar header"
		"sidebar bar"
		"sidebar trail"
		"sidebar content"
		"sidebar footer"
		;
}

main {
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: minmax(400px, 45em) minmax(50px, auto);
	grid-template-areas: 
		"content toc"
		;

}

hr, .ruler {
	border:none;
	height:2px;
	background-color: rgba(99, 122, 145, 0.15);
}

a:focus {
	/*rgba(255,255,255,0.6);*/
	outline: 2px solid #abc0da;
}
